    p.p1        {margin: 0.0px 0.0px 0.0px 50.0px; font: 16.0px Arial; color: #000000; -webkit-text-stroke: #000000}
    p.center    {text-align: center; font: 20.0px Arial; color: #000000; -webkit-text-stroke: #000000}
    span.s1     {font-kerning: none}
    a:link      {text-decoration: none;}
    a:visited   {text-decoration: none;}
    a 		{font-size: 40px}
    .title 	{font: 40px arial, font-weight: bold; } 
